html {
	overflow-y: scroll;
	padding: 8px 24px 8px 36px;
}

body {
    background: #fff;
}

header {
	color: #a0a0a0;
	font-size: .8rem;
}

html, button, input, textarea, select {
	font: 100%/1.625 Menlo, monospace;
}

h1, h2, h3, h4, h5 {
	font-size: 1rem;
	line-height: inherit;
	margin: .84rem 0;
}

.at-left {
	float: left;
}

.at-right {
	float: right;
}

a:focus,
input:focus,
select:focus,
.button:focus {
	outline-color: rgba(0, 0, 0, .5);
	outline-offset: 2px;
	outline-style: solid;
	outline-width: .3rem;
	position: relative;
	z-index: 100;
}

a,
.button {
	color: rgb(0, 0, 238);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active,
.button:active {
	color: rgb(255, 0, 0);
}

input {
	box-sizing: border-box;
	line-height: 1.25;
	max-width: 100%;
	text-indent: .25rem;
}

input[type=range] {
	vertical-align: middle;
}

input[type=range].vertical {
	-webkit-appearance: slider-vertical;
}

.disabled {
	color: #aaa;
	pointer-events: none;
}

. disabled input {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

pre {
	clear: both;
	font-size: .6rem;
	height: auto;
	margin: 1rem;
	overflow: auto;
}

label {
	display: block;
	margin: .84rem 0;
}

@media screen and (min-width: 481px) {
	.columns label {
		display: inline-block;
		margin-top: 0;
		vertical-align: top;
		width: 50%;
	}
}

select {
	max-width: 100%;
}

label select {
	margin: 0 .5rem;
}

label input[type=checkbox] {
	margin: 0 .5rem 0 0;
}

h1::selection, h2::selection,
span::selection,
label::selection { background: transparent; }

h1::-moz-selection, h2::-moz-selection,
span::-moz-selection,
label::-moz-selection { background: transparent; }

.button {
	cursor: pointer;
	display: inline-block;
}

span.button {
	margin: 0 0 .5rem 0;
}

.button.close {
	border-color: #ddd;
	border-width: 1px;
	border-style: solid;
	box-sizing: border-box;
	font-size: 2rem;
	height: 2rem;
	line-height: 1.9rem;
	margin: -1px -1px 0 0;
	position: absolute;
	right: 0;
	text-align: center;
	width: 2rem;
}

.warning {
	background: rgb(255, 100, 0);
	color: white;
	display: inline-block;
	padding: 0 .2rem;
}

.widget {
	border: 1px solid #ddd;
	clear: both;
	display: block;
	margin: .5rem 0;
	padding: 0 1rem;
	position: relative;
}


/* scrollbar */

html::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

html::-webkit-scrollbar-button:start:decrement,
html::-webkit-scrollbar-button:end:increment {
	display: none;
}

html::-webkit-scrollbar-track-piece {
	background-color: #fff;
}

html::-webkit-scrollbar-thumb:vertical {
	background: #ddd;
	-webkit-border-radius: 6px;
}

