html {
	overflow-y: scroll;
	padding: 8px 0 8px 8px;
}

body {
    background: #fff;
}

h1, h2, h3, h4, h5 {
	font-size: 1em;
	line-height: inherit;
	margin: .84em 0;
}

input[type=range] {
	vertical-align: middle;
}

input[type=range].vertical {
	-webkit-appearance: slider-vertical;
}

pre {
	clear: both;
	height: auto;
	margin: 1em;
	overflow: auto;
}

label {
	display: block;
	margin: .84em 0;
	white-space: nowrap;
}

label select {
	margin: 0 .84em;
}

.button {
	cursor: pointer;
	display: inline-block;
	height: 1.4em;
	line-height: 1.4;
	text-align: center;
	width: 1.4em;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.widget {
	border: 1px solid #ddd;
	display: block;
	padding: 0 0 0 1em;
}

/* text selection */

::selection { background: transparent; }
::-moz-selection { background: transparent; }

/* scrollbar */

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
	display: none;
}

::-webkit-scrollbar-track-piece {
	background-color: #fff;
}

::-webkit-scrollbar-thumb:vertical {
	background: #ddd;
	-webkit-border-radius: 6px;
}

