html {
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0 2px 0 0;
}

body {
    background: #444;
}

header {
	color: #a0a0a0;
	font-size: .8rem;
	padding: 1rem;
}

html, button, input, textarea, select {
	font: 100%/1.625 Menlo, monospace;
}

.widget {
	clear: both;
	display: block;
	margin: 1rem;
	position: relative;
}

main .widget {
	margin: .75rem 0;
}

fieldset {
	background: #eee;
	border-color: #fff #fff #ccc #fff;
	border-style: solid;
	border-width: 1px 0;
	box-sizing: border-box;
	padding: 3rem 1rem 1px 1rem; /* 1px weird safari vs chrome diff*/
	margin: 0;
	position: relative;
}

legend {
	display: block;
	font-weight: 700;
	position: absolute;
	top: 1rem;
}

h1, h2, h3, h4, h5 {
	font-size: 1rem;
	line-height: inherit;
}

label,
.array,
.collection {
	margin: .75rem 0;
	padding: 0 1rem;
}

.title {
	margin: .75rem 0;
	padding: 0 2rem 0 1rem;
}

.array .title {
	padding: 0;
}

.array label {
	padding: 0;
}

ul, li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

ul.string,
.string li {
	display: block;
}

.string input {
	width: 100%;
}

.at-left {
	float: left;
}

.at-right {
	float: right;
	margin-top: 0;
}

fieldset + .at-right {
	margin-top: .75rem;
}

a:focus,
input:focus,
select:focus,
.button:focus {
	outline-color: rgba(0, 0, 0, .5);
	outline-offset: 2px;
	outline-style: solid;
	outline-width: .3rem;
	position: relative;
	z-index: 100;
}

a,
.button {
	cursor: pointer;
	display: inline-block;
	padding: 0 .2rem;
	text-decoration: none;
}

a:hover,
.button:hover {
	background-color: rgb(0, 0, 238);
	color: #fff;
}

a:active,
.button:active {
	background-color: rgb(255, 0, 0);
}

span.button {
	margin: 0 0 .5rem 0;
}

.button.close {
	box-sizing: border-box;
	font-size: 2rem;
	height: 2rem;
	line-height: 1.9rem;
	position: absolute;
	right: .3rem;
	text-align: center;
	width: 2rem;
}

input {
	box-sizing: border-box;
	line-height: 1.25;
	max-width: 100%;
	text-indent: .25rem;
}

input[type=number],
input[type=range],
input[type=text] {
	border: none;
	padding-top: .125rem;
}

@media screen and (max-width: 481px) {
	input[type=number],
	input[type=range],
	input[type=text] {
		width: 100%;
	}
}

input[type=range] {
    /* -webkit-appearance: none; */
	vertical-align: middle;
}

/* input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
    background: red;
    width: 20px;
    height: 20px;
} */


.vertical input[type=range] {
	-webkit-appearance: slider-vertical;
	height: 4rem;
	width: 1rem;
}

.disabled {
	color: #aaa;
	pointer-events: none;
}

.disabled input {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

pre {
	clear: both;
	font-size: .6rem;
	height: auto;
	margin: 1rem;
	overflow: auto;
}

label {
	box-sizing: border-box;
	display: block;
}

label.checkbox,
label.radio {
	margin-left: 1rem;
	padding-left: 1.375rem;
}

fieldset label {
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}

fieldset label.checkbox,
fieldset label.radio {
	margin-left: 0;
	margin-right: 0;
}

input[type=checkbox],
input[type=radio] {
	margin-left: .25rem;
}

label.checkbox input[type=checkbox],
label.radio input[type=radio] {
	float: left;
	margin: 6px 7px 0 -1.3125rem; /* 7px if empty label*/
}

.columns .array {
	padding: 0;
}

@media screen and (min-width: 481px) {
	.columns label,
	.columns .array {
		display: inline-block;
		margin-top: 0;
		vertical-align: top;
		width: 50%;
	}
}

select {
	max-width: 100%;
}

label select,
label input[type=checkbox],
label input[type=radio] {
	margin: 0 .5rem 0 0;
}

h1::selection, h2::selection,
span::selection,
label::selection { background: transparent; }

h1::-moz-selection, h2::-moz-selection,
span::-moz-selection,
label::-moz-selection { background: transparent; }


.warning {
	background: rgb(255, 100, 0);
	color: white;
	display: inline-block;
	padding: 0 .2rem;
}

/* Collection */

.collection {
	margin-bottom: .2rem;
	max-width: 100%;
	overflow: scroll;
}

table {
	margin-bottom: .75rem;
}

th {
	text-align: left;
}

td {
	padding: 0 .5rem .5rem 0;
}

tr:last-child td {
	padding-bottom: 0;
}

/* scrollbar */

html::-webkit-scrollbar {
	background-color: #fff;
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
}

html::-webkit-scrollbar-button:start:decrement,
html::-webkit-scrollbar-button:end:increment {
	display: none;
}

html::-webkit-scrollbar-track-piece {
	background-color: #fff;
	margin: 2px 0;
	padding: 0;
}

html::-webkit-scrollbar-thumb:vertical {
	background: #bbb;
	border-radius: 6px;
}
