html {
	overflow-y: scroll;
}

::selection { background: transparent; }

::-moz-selection { background: transparent; }

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
	display: none;
}

::-webkit-scrollbar-track-piece {
	background-color: @bodyBackground;
	-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
	-webkit-border-radius: 6px;
	background: @grayLight;
	border: 2px solid white;
}

input[type=range] {
	height: 28px;
}

h1 .close {
	font-size: 30px;
	vertical-align: top;
}
